body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  #home-screen button {
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  #home-screen button:active {
    transform: scale(0.95) !important;
  }
  
  @media (max-width: 768px) {
    #home-screen h1 {
        font-size: 2em;
        padding: 1rem 2rem;
    }
  
    #home-screen button {
        padding: 0.8rem 1.5rem;
        font-size: 1em;
    }
  }